.header{
    background-color: #0D0D2B;
}
.register{
    background-color: #3671E9;
}
.a1{
    color: white;
    background-color: #3671E9;
}
.save{
    background-color: #FFFFFF1A;
    width: 70%;
    padding: 5px;
}
.logo4{
    top: 450px;
}
.logo5{
    right: 0;
    top: 400px;
}